@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--cor1: hsl(185, 75%, 39%);
--cor2: hsl(229, 23%, 23%);
--cor3: hsl(227, 10%, 46%);
--cor4: hsl(0, 0%, 59%);
}

body{
background-color: var(--cor1);
}

.imagetop{
    display: flex;
    margin: -400px;
}
.imagebottom{
    display: flex;
    margin:400px 800px;
}

.bluecard{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}